insmod all_video
insmod vbe
insmod vga

set gfxmode=1280x720x32,1024x768x32,800x600x32,auto
set gfxpayload=keep

menuentry "TrucOS" {
	multiboot /boot/kernel.bin
	boot
}

menuentry "TrucOS (VGA Text Mode Force)" {
	set gfxpayload=text
	multiboot /boot/kernel.bin
	boot
}
